<!DOCTYPE html>
<html>
    <!-- header-->
    <head>
        <!-- The title of the page-->
        <title>Thank you for your order! Rock on!</title>
  </head>
  <!-- body section of the page-->
  <body>
    <!-- Image called, img fluid allows the image to resize and adapt to different screens.
    Alt is to name the image incase it doesn't load so its a -->
    <img src="ThankYou.PNG" class="img-fluid" alt="break">
    <!-- Paragraph with order details-->
    <p>You order will be with you 3-5 working days</p>
    <!-- Line break to allow a space before button-->
    <br>
     <!-- Option for customer to go back to the store-->
     <a href="store">Back to store</a>
</body>